body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #f5f5f5;
}

button {
  padding: 10px 20px;
  background-color: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: orange;
}
